  
  html {
    background-color: #000000;
  }
  
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 2em;
    width: 25%;
  }
  
  section {
    padding-top: 250px;
  }
  
  header {
    text-align: center;
    background-color: #28a745;
    height: 50px;
    font-family: "Fira Sans";
    font-weight: bold;
    clear: both;
  }

  h2 {
    display: inline;
  }

  button {
    background-color: #28a745 !important;
    color: white !important;
  }

  #join_button {
    margin-right: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
  }

  #join_button:hover {
    transform:scale(1.15, 1.15);
    -webkit-transform:scale(1.15, 1.15);
    -moz-transform:scale(1.15, 1.15);
  }

  #create_button {
    margin-left: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
  }

  #create_button:hover {
    transform:scale(1.15, 1.15);
    -webkit-transform:scale(1.15, 1.15);
    -moz-transform:scale(1.15, 1.15);
  }

  #invalid_code {
    color: #dc3545;
    margin-top: 0.5em;
  }
  
  #room_grid {
    display: grid;
    grid-template-columns: 16% 68% 16%;
    grid-template-rows: auto;
    grid-template-areas: "top top top"
                        "middle-left middle-center middle-right"
                        "botom botom botom"
  }

  #user_list {
    height: 540px;
    margin-bottom: 1em;
    margin-left: 0.5em;
    border-width: 3px !important;
    grid-area: middle-left;
    background-color: #28a745;
    overflow-y: auto;
  }

  #guide {
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    grid-area: middle-center;
    color: white;
    width: 50%;
  }

  #guide > p {
    border-bottom: 0.1em solid #28a745;
    padding: 1em;
  }

  #sub_guide {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #votes_to_skip, #pause_button, #skip_button {
    display: inline-block;
  }

  #pause_button, #skip_button {
    margin-left: 1em;
    padding-left: 3em;
    padding-right: 3em;
  }

  #chat {
    height: 540px;
    margin-bottom: 1em;
    margin-right: 0.5em;
    border-width: 3px !important;
    grid-area: middle-right;
    background-color: #28a745;
    overflow-y: auto;
  }

  #user_heading {
    font-weight: bold !important;
    font-size: 20px !important;
    border-bottom: 0.1em solid black;
    border-radius: 0.1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-decoration: none;
    text-align: center;
  }

  #code_heading_1 {
    margin-left: 3em;
  }

  #return {
    float: right;
    color: black !important;
    font-size: 20px !important;
    font-family: "Fira Sans";
    font-weight: bold;
  }
  
  p {
    color: #ffffff;
    text-align: center;
    font-size: 16px !important;
    font-weight: bold !important;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
  }

  @media screen and (min-width: 600px){
    #chat, #guide, #user_list {
      height: 160px;
    }

    #pause_button, #skip_button {
      padding-right: 0.9em;
      padding-left: 0.9em;
    }
  }

  @media screen and (min-width: 700px){
    #chat, #guide, #user_list {
      height: 207px;
    }

    #pause_button, #skip_button {
      padding-right: 0.9em;
      padding-left: 0.9em;
    }
  }

  @media screen and (min-width: 800px){
    #chat, #guide, #user_list {
      height: 270px;
    }

    #pause_button, #skip_button {
      padding-right: 0.9em;
      padding-left: 0.9em;
    }
  }

  @media screen and (min-width: 1000px){
    #chat, #guide, #user_list {
      height: 408px;
    }

    #pause_button, #skip_button {
      padding-right: 2em;
      padding-left: 2em;
    }
  }

  @media screen and (min-width: 1100px){
    #chat, #guide, #user_list {
      height: 480px;
    }
  }

  @media screen and (min-width: 1200px){
    #chat, #guide, #user_list {
      height: 540px;
    }

    #pause_button, #skip_button {
      padding-right: 3em;
      padding-left: 3em;
    }
  }

  @media screen and (min-width: 1400px){
    #chat, #guide, #user_list {
      height: 615px;
    }

    #pause_button, #skip_button {
      padding-right: 4em;
      padding-left: 4em;
    }
  }

  @media screen and (min-width: 1500px){
    #chat, #guide, #user_list {
      height: 707px;
    }

    #pause_button, #skip_button, #join_button, #create_button {
      padding-right: 3.5em;
      padding-left: 3.5em;
      font-size: 18px !important;
    }

    #guide > p, #sub_guide_2 > p, #user_heading, #user_list > p {
      font-size: 18px !important;
    }
  }

  @media screen and (min-width: 1730px){
    #chat, #guide, #user_list {
      height: 764px;
    }

    #pause_button, #skip_button, #join_button, #create_button {
      padding-right: 3.5em;
      padding-left: 3.5em;
      font-size: 20px !important;
    }

    #guide > p, #sub_guide_2 > p, #user_heading, #user_list > p {
      font-size: 20px !important;
    }
  }

  @media screen and (min-width: 1930px){
    #chat, #guide, #user_list {
      height: 875px;
    }

    #pause_button, #skip_button {
      padding-right: 4em;
      padding-left: 4em;
      font-size: 22px !important;
    }

    #guide > p, #sub_guide_2 > p, #user_heading, #user_list > p {
      font-size: 22px !important;
    }
  }

  @media screen and (min-width: 1957px){
    #chat, #guide, #user_list {
      height: 1205px;
    }

    #pause_button, #skip_button {
      padding-right: 4em;
      padding-left: 4em;
      font-size: 25px !important;
    }

    #guide > p, #sub_guide_2 > p, #user_heading, #user_list > p {
      font-size: 25px !important;
    }
  }

  @media screen and (min-width: 1957px){
    #chat, #guide, #user_list {
      height: 1205px;
    }

    #pause_button, #skip_button, #join_button, #create_button, #create_button2, #join_button2 {
      padding-right: 2.5em;
      padding-left: 2.5em;
      font-size: 30px !important;
    }

    #guide > p, #sub_guide_2 > p, #user_heading, #user_list > p, #join, #create {
      font-size: 30px !important;
    }
  }
