  
  html {
    background-color: #000000;
  }
  
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 2em;
    width: 25%;
  }
  
  section {
    padding-top: 250px;
  }
  
  header {
    text-align: center;
    background-color: #28a745;
    height: 50px;
    font-family: "Fira Sans";
    font-weight: bold;
    clear: both;
  }

  h2 {
    display: inline;
  }

  button {
    background-color: #28a745 !important;
    color: white !important;
  }

  #join_button {
    margin-right: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
  }

  #join_button:hover {
    transform:scale(1.15, 1.15);
    -webkit-transform:scale(1.15, 1.15);
    -moz-transform:scale(1.15, 1.15);
  }

  #create_button {
    margin-left: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
  }

  #create_button:hover {
    transform:scale(1.15, 1.15);
    -webkit-transform:scale(1.15, 1.15);
    -moz-transform:scale(1.15, 1.15);
  }

  #invalid_code {
    color: #dc3545;
    margin-top: 0.5em;
  }
  
  #room_grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: "top top top"
                        "middle-left middle middle-right"
                        "bottom bottom bottom"
  }

  #user_list {
    height: 540px;
    margin-bottom: 1em;
    margin-left: 0.5em;
    border-width: 3px !important;
    grid-area: middle-left;
    width: 40%;
    background-color: #28a745;
  }

  #user_heading {
    font-weight: bold !important;
    font-size: 20px !important;
    border-bottom: 0.1em solid black;
    border-radius: 0.1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-decoration: none;
    text-align: center;
  }

  #code_heading_1 {
    margin-left: 3em;
  }

  #return {
    float: right;
    color: black !important;
    font-size: 20px !important;
    font-family: "Fira Sans";
    font-weight: bold;
  }
  
  p {
    color: #ffffff;
    text-align: center;
    font-size: 16px !important;
    font-weight: bold !important;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
  }