#joinplayer_grid {
    background-color: white;
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: auto;
    grid-template-areas: "top top top"
                        "middle-left middle-center middle-right"
                        "middle-left botom botom"
}

#song_image > img {
    width: 62%;
}

#song_image {
    grid-area: middle-left;
}

#song_details {
    margin-left: -3em;
    grid-area: middle-center;
    color: black;
}

#progess {
    margin-top: 1em;
    margin-bottom: 0.1em;
    margin-left: -4em;
    width: 80%;
    background-color: black;
    grid-area: botom;
}